<html>

<head>
	<title>What Should I Cook?</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="Search.js"></script>
</head>

<body ng-app="Search">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ui-view></ui-view>
		</div>
	</div>

	<!--<div ng-controller="Hello">-->
	<!--	<p>The ID is {{greeting.recipes[0].title}}</p>-->
	<!--	<p>The content is {{greeting.recipes[0].publisher}}</p>-->
	<!--</div>-->

	<script type="text/ng-template" id="/home.html">
		<div class="page-header">
			<h1>What can I cook?</h1>
			<h5>Don't know what to cook with what you have? Well just type your ingredients and find out what you can cook! Be sure to put a space for each ingredients</h5>


			<form ng-submit="addToList()" <h6>Put items to list</h6>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Ingredients" ng-model="formContent"></input>
				</div>
				<button type="submit" class="btn btn-primary">Add To List</button>
			</form>


			<form ng-submit="searchFood()" <h6>Type your ingredients</h6>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>

		<div ng-repeat="result in results">
			<span style="font-size:20px; margin-left:10px;">
        		{{result.title}}
    		</span>
		</div>

	</script>
</body>

</html>
