<html>

<head>
	<title>What Should I Cook?</title>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="main.css" type="text/css" />

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="Search.js"></script>

</head>

<body ng-app="Search">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ui-view></ui-view>
		</div>
	</div>

	<script type="text/ng-template" id="/home.html">
		<div class="page-header">
			<h1>What can I cook?</h1>
			<h5>Don't know what to cook with what you have? Well, just type in your ingredients and find out what you can cook! Enter the ingredients one at a time.</h5>


			<form ng-submit="addToList()" <h6>Add items to list</h6>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Ingredients" ng-model="formContent"></input>
				</div>
				<button type="submit" class="btn btn-primary">Add To List</button>
			</form>

			<div ng-hide="div1">
				<p><b>List of Ingredients:</b></p>
				<div ng-repeat="item in ingredients">
					<button type="button" ng-click="removeIngredient(item)" class="btn btn-default" id="removeButton">
						<span class="glyphicon glyphicon-remove">
						</button> {{item}}
					<br>

					</span>
				</div>
				<br>
				<form ng-submit="searchFood()">
					<button type="submit " class="btn btn-primary ">Search</button>
				</form>
			</div>




			<p ng-hide="p2 "><b>Favorite recipes:</b></p>
			<div ng-repeat="recipe in favorites">
				<button type="button" ng-click="removeFavorite(recipe)" class="btn btn-default" id="removeFavoriteButton">
						<span class="glyphicon glyphicon-remove">
						</button>
							<a href="{{recipe.f2f}}" target="_blank" id ="favorites">{{recipe.title}}</a><br>
						</span>
			</div>
			<div ng-repeat="result in results">
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="{{result.image}}" alt="Foodz" width="100" height="80" align="top"> {{result.title}}
						<br>
						<a href="{{result.f2f}}" target="_blank">Click Here for the Recipe<br></a>
						<a href="{{result.url}}" target="_blank">Source</a><br>
						<a ng-click="addToFavorites(result)">Click here to add to favorites!</a>
						<body ng-style="{'background-image':'url(' + tiles.jpg +')'}"></body>
					</div>
				</div>
			</div>

	</script>
</body>

</html>
